<header class="header">
  <img src="img/logo-black.png" alt="logo" class="logo">
  <nav>
  <ul class="nav-list">
    <li><a href="index.html">HOME</a></li>
    <li><a href="about.html">ABOUT</a></li>

    <li class="dropdown">
      <a href="#">PORTFOLIO</a>
      <ul class="dropdown-menu">
		<li><a href="bassett.html">Bassett</a></li>
        <li><a href="cloudburst.html">Cloudburst</a></li>
        <li><a href="aip.html">Associates In Periodontics</a></li>
        <li><a href="collegeadmit.html">CollegeAdmit</a></li>
		<li><a href="dogwalking.html">Heads &amp; Tails</a></li>
        <li><a href="scoops.html">Scoops</a></li>
        <li><a href="bakery.html">Cinnamon &amp; Saffron</a></li>
      </ul>
    </li>

  </ul>
</nav>
</header>