<header class="header">
  <img src="img/logo-black.png" alt="logo" class="logo">

  <nav class="nav-list">
    <nav class="nav-darkmode-button">
<button id="theme-toggle" class="theme-toggle">
  <img id="theme-icon" src="img/moon.png" alt="theme icon">
</button>
</nav>
    <a href="index.html">HOME</a>
    <a href="about.html">ABOUT</a>
    <a href="#" id="portfolio-link">PORTFOLIO</a>
  </nav>
</header>

<div class="sidebar" id="sidebar">
  <button class="close-btn" id="close-btn">✕</button>

  <nav class="sidebar-nav">
    <a href="bassett.html">BASSETT</a>
    <a href="cloudburst.html">CLOUDBURST</a>
    <a href="aip.html">ASSOCIATES IN PERIODONTICS</a>
    <a href="collegeadmit.html">COLLEGEADMIT</a>
	<a href="dogwalking.html">HEADS &amp; TAILS</a>
	<a href="scoops.html">SCOOPS</a>
	<a href="bakery.html">CINNAMON &amp; SAFFRON</a>
  </nav>
</div>

<div class="overlay" id="overlay"></div>