<header class="header">
  <img src="img/logo-black.png" alt="logo" class="logo">
  
  <nav class="top-nav">
    <a href="index.html">HOME</a>
    <a href="about.html">ABOUT</a>
    <a href="#" onclick="toggleMenu()">PORTFOLIO</a>
  </nav>
</header>

<div class="sidebar" id="sidebar">
  <button class="close-btn" onclick="toggleMenu()">✕</button>

  <nav class="sidebar-nav">
    <a href="bassett.html">Bassett</a>
    <a href="cloudburst.html">Cloudburst</a>
    <a href="aip.html">Associates In Periodontics</a>
    <a href="collegeadmit.html">CollegeAdmit</a>
	<a href="dogwalking.html">Heads &amp; Tails</a>
	<a href="scoops.html">Scoops</a>
	<a href="bakery.html">Cinnamon &amp; Saffron</a>
  </nav>
</div>

<div class="overlay" id="overlay" onclick="toggleMenu()"></div>