<footer>
		<nav>
        <a href="https://github.com/ndmerritt" target="_blank">GitHub</a>
        <a href="https://webpages.charlotte.edu/nmerrit7/" target="_blank">CLT Web</a>
        <a href="https://ndmerritt.github.io/" target="_blank">GitHub.io</a>
		<a href="https://www.freecodecamp.org/ndmerritt" target="_blank">FreeCodeCamp</a>
        <a href="www.linkedin.com/in/nate-merritt-69547132b" target="_blank">LinkedIn</a>
		<p> Designed by Nate Merritt, certified in <a href="https://www.freecodecamp.org/certification/ndmerritt/responsive-web-design-v9">Responsive Web Design</a></p>
		</nav>
		
</footer>