<header>
		<h1>Nate Merritt's Glorious Gecko ~ ITIS 3135</h1>

		<div class="nav-container">
        <nav class="main-nav">
        <a href="/index.html">Home</a>
        <a href="/itis3135/contract.html">Contract</a>
		<a href="/itis3135/non_matching_styles/certification/survey/survey.html">Survey</a>
		<a href="/itis3135/non_matching_styles/certification/cards/cards.html">Cards</a>
		<a href="/itis3135/non_matching_styles/certification/inventory/inventory.html">Inventory</a>
		<a href="/itis3135/non_matching_styles/certification/documentation/documentation.html">Documentation</a>
		<a href="/itis3135/non_matching_styles/certification/product/product.html">Product</a>
		<a href="/itis3135/intro_form.html">Intro Form</a>
		</nav>
		<nav class="sub-nav">
		<a href="/itis3135/non_matching_styles/stuff/tHisIs-AfilE.htm">Crappy Website</a>
		<a href="/itis3135/hobby/index.html">Midterm</a>
		<a href="/itis3135/projects/client/overview/project_overview.html">Client Project Overview</a>
		<a href="/itis3135/projects/client/index.html">Client Website</a>
		<a href="/itis3135/projects/client/reviews/review1.html">Review 1</a>
		<a href="/itis3135/projects/client/reviews/review2.html">Review 2</a>
		</nav>
		</div>

</header>
