<header>
		<h1 class="logo">Nate Merritt's Glorious Gecko ~ ITIS 3135</h1>

        <nav>
        <a href="/index.html">Home</a>
        <a href="/contract.html">Contract</a>
        <a href="/itis3135/hobby/index.html">Midterm Project</a>
		<a href="/itis3135/non_matching_styles/certification/survey/survey.html">Survey</a>
		<a href="/itis3135/non_matching_styles/certification/cards/cards.html">Cards</a>
		<a href="/itis3135/non_matching_styles/certification/inventory/inventory.html">Inventory</a>
		<a href="/itis3135/non_matching_styles/certification/documentation/documentation.html">Documentation</a>
		<a href="/itis3135/non_matching_styles/certification/product/product.html">Product</a>
		<a href="/itis3135/intro_form.html">Intro Form</a>
		<a href="/itis3135/projects/client/overview/project_overview.html">Client Project Overview</a>
		<a href="/itis3135/projects/client/index.html">Client Project Demo</a>
		</nav>

</header>
