@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
	background-color: #f7f3ee;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background: #f7f3ee;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  width: 100px;
  height: auto;
}

nav a {
  margin-left: 40px;
  text-decoration: none;
  color: #999;
  font-size: 14px;
  letter-spacing: 2px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  position: relative;
}

.nav-list a {
  margin-left: 40px;
  text-decoration: none;
  color: #999;
  font-size: 14px;
  letter-spacing: 1px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  background: #1a1a1a;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 8px;
  min-width: 180px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  pointer-events: none;

  transition: 0.3s ease;
  z-index: 1001;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  margin: 0;
  color: #ccc;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

.dropdown-menu li a:hover {
  background: #333;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown > a::after {
  content: " ▼";
  font-size: 10px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  background: #f7f3ee;
  border-top: 1px solid #eee;
  font-family: 'Poppins', sans-serif;
  color: #999;
  text-align: center;
}

footer a {
	color: #999;
}

/* cloudburst layout */

.page-container {
  display: flex;
  padding: 20px 60px 0 60px;
  gap: 20px;
  align-items: flex-start;
}

.left-column {
  flex: 0 0 74%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-column img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.right-column {
  flex: 0 0 26%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 60px;
  background: #f7f3ee;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.content-sticky {
  width: 100%;
  max-width: 400px; 
  text-align: left;
}

.project-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 24px;
  color: #111;
  line-height: 1.3;
  font-family: 'Lato', sans-serif;
}

.right-column p {
  font-size: 1rem;
  line-height: 1.8;
  color: #999;
  margin-bottom: 30px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

.project-link {
  display: inline-block;
  color: #999;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  font-weight: 100;
}

.project-link:hover {
  color: #000;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 40px;
}

.services {
  margin-top: auto;
}

.services p {
  font-size: 1rem;
  color: #999;
  margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
}

.project-video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .page-container {
    flex-direction: column;
  }
  
  .left-column {
    height: 60vh;
    position: static;
  }
  
  .right-column {
    padding: 40px 25px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: #111;

  display: flex;
  flex-direction: column;

  transition: right 0.3s ease;
  z-index: 2000;
}

.sidebar.active {
  right: 0;
}

.close-btn {
  align-self: flex-end;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar-nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.sidebar-nav a:hover {
  color: white;
}

.top-nav {
  display: flex;
  gap: 40px;
}

.top-nav a {
  margin-left: 40px;
  text-decoration: none;
  color: #999;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  position: relative;
}

.top-nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #999;
  transition: width 0.3s ease;
}

.top-nav a:hover::after {
  width: 100%;
}

.top-nav a:hover {
  color: black;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 1500;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}